.breadcrumbs{
  a, span {
    color: #98A1C0;
    transition: color .2s ease-in-out;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
  }
  a:hover{
    color: #DBBC19;
  }
  span{
    display: inline-block;
    margin: 0 10px;
  }
}