.loader{
  position: absolute;
  top: 0;
  left: 0;
  opacity: .6;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle closest-side at 50% 50%, rgba(0,0,0,0.2), rgba(0,0,0,0.06) 50%, transparent);

  &:after{
    content: '';
    height: 74px;
    width: 74px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -37px;
    border-radius: 50%;
    transform: translateX(-50%);
    border: 3px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: spin 800ms linear infinite ;
  }
}

@keyframes spin {
  0%{
    transform: translateX(-50%) rotate(0deg);
  }
  100%{
    transform: translateX(-50%) rotate(360deg);
  }
}