.timeline{
  &_wrapper{
    display: flex;
    width: 100%;
    padding: 0 12px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  &_slider{
    &_container{
      height: 36px;
      width: 98%;
      width: calc(100% - 12px);
      display: flex;
      align-items: center;
      align-self: stretch;
      position: absolute;
      touch-action: none;
      user-select: none;
      bottom: 40px;
      z-index: 15;
    }
    &_progress_bar{
      position: relative;
      height: 4px;
      width: 100%;
      transition: height .2s ease-in-out, border-radius .2s ease-in-out;
      flex: 1 1 auto;
      background-color: gray;
      border-radius: 8px;
      overflow: hidden;
    }
    &_duration_bar{
      position: absolute;
      background-color: $primary-color;
      border-radius: 8px;
      height: 4px;
      z-index: 0;
    }

    &_play_head{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      cursor: pointer;
      color: #fff;
      transition: transform 0.2s cubic-bezier(0.4,0,0.2,1);
      z-index: 4;
      position: relative;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $primary-color;
        transition: all .2s ease-in-out;
      }
      &:hover > &::before{
        width: 18px;
        height: 18px;
      }

    }
    &_vertical_bar_hover{
      position: absolute;
      height: 16px;
      width: 4px;
      background: #fff;
      border-radius: 2px;
      transform: translate(-50%);
      z-index: 2;
    }
    &_vertical_bar_duration_hover{
      position: absolute;
      padding: 0 8px;
      background: $dark;
      color: #fff;
      border-radius: 2px;
      transform: translateX(-50%) translateY(-120%);
    }
  }
}
.visible{
  visibility: visible;
  opacity: 1;
}
