.episodes{
  width: 35%;

  &_wrapper{
    margin-left: 20px;
    padding: 10px 0 10px;
    //background: $bg-secondary;
    //border-radius: 20px;
    //border: 1px solid rgba(255, 255, 255, 0.19);


    h2{
      padding-left: 20px;
      font-size: 18px;
      svg{
        position: relative;
        margin-right: 8px;
        top: -2px;
      }
    }

    &_episode{
      margin-bottom: 0;
      padding: 5px 5px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 4px;

      &:hover{
        background: rgba(255, 255, 255, 0.19);
      }


      &_thumb{
        img{
          border-radius: 5px;
        }
      }

      &_info{
        h3{
          font-size: 18px;
        }
        p{
          color: #98A1C0;
          margin: 0;
        }
      }

      &_title{
        cursor: pointer;
        svg{
          cursor: pointer;
          color: #DBBC19;
          margin-right: 10px;
        }
      }
      &_duraction{
        float: right;
        svg{
          cursor: pointer;
          color: #DBBC19;
          margin-right: 10px;
        }
      }
    }
  }
}