.volume{
  &_control{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    &_icon{
      border: none;
      background: none;
      color: #fff;
      margin-right: 8px;
    }
  }

  &_slider{
    &_root{
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      user-select: none;
      touch-action: none;
      border-radius: 10px;
      &[data-orientation="horizontal"]{
        height: 100%;
        width: 100px;
      }
    }

    &_track{
      background: #5e5e5e;
      position: relative;
      flex-grow: 1;
      border-radius: 2px;

      &[data-orientation="horizontal"]{
        width: 100%;
        height: 4px;
      }

    }
    &_range{
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      &[data-orientation="horizontal"]{
        height: 100%;
      }
    }
    &_thumb{
      display: none;
      width: 12px;
      height: 12px;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      transition: display .8s cubic-bezier(0.4,0,0.2,1) ,transform .2s cubic-bezier(0.4,0,0.2,1);

      &[data-disabled]{
        cursor: not-allowed;
      }
    }
  }
}

.volume_slider_root:hover {
  .volume_slider_range{
    background-color: $primary-color;
  }
  .volume_slider_thumb{
    display: block;
  }

  //display: none;
}