.filter {
  display: block;
  margin-bottom: 15px;
  max-width: 200px;

  &_studios {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    padding: 10px;


  }

  &_genres {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;

  }
}

.checkBox_wrapper {
  padding: 3px;
  display: flex;
  align-items: center;

  label {
    font-size: 18px;

    &:before {
      content: '';
      margin-right: 5px;
    }

  }
}

.found_results {
  display: flex;
}

.catalog_page{
  padding: 30px 0;


  &_head{
    padding: 12px 0 24px;

    h2{
      font-size: 38px;
    }
  }
}