.episodeCard{

  &_thumb{
    position: relative;
    cursor: pointer;
    img{
      border-radius: 5px;
      width: 100%;
    }
    &_icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: rgba(0,0,0,0.7);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      svg{
        position: relative;
        left: 2px;
      }
    }
  }
  &_title{
    padding-top: 15px;
    h3{
      font-size: 16px;
    }
  }
}