.anime_list{
  background-position: center;
  padding: 120px 0 70px;
  background-size: contain;
  position: relative;
  z-index: 1;


  &_head{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2{
      font-size: 38px;
      font-weight: bold;
    }
  }

}

.slide{
  max-width: 300px;
}