//.player{
//
//  &_wrapper{
//    position: relative;
//    width: 100%;
//    //height: 360px;
//
//  }
//  &_wrapper_fullscreen{
//    padding-top: 30px;
//    iframe{
//      width: 100% !important;
//      height: 100vh !important;
//    }
//  }
//  &_play_pause_wrapper{
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    svg{
//      cursor: pointer;
//      &:hover{
//        color: $primary-color;
//      }
//    }
//  }
//  &_settups{
//    position: absolute;
//    right: 12px;
//    bottom: 61px;
//    width:220px;
//    border-radius: 15px;
//    //height: 180px;
//    padding: 8px 0;
//    display: table;
//    background: rgba(28,28,28,.9);
//    text-shadow: 0 0 2px rgba(0,0,0,.5);
//    transition: opacity .1s cubic-bezier(0,0,.2,1);
//    &_all_setups{
//
//    }
//    &_quality_setup{
//      &_header{
//        padding: 8px;
//        border-bottom: 1px solid rgba(255,255,255,.1);
//        margin-bottom: 15px;
//      }
//      &_menu_item{
//        height: 40px;
//        padding: 0 20px;
//      }
//    }
//    &_menu_item{
//      display: table-row;
//      height: 40px;
//      outline: none;
//      cursor: pointer;
//      &:hover{
//        background: rgba(255,255,255,.1);
//      }
//      &_icon{
//        padding: 0 10px;
//        display: table-cell;
//        vertical-align: middle;
//      }
//      &_label{
//        font-weight: 500;
//        padding: 0 15px;
//        display: table-cell;
//        vertical-align: middle;
//      }
//
//      &_content{
//        max-width: 250px;
//        overflow: hidden;
//        white-space: nowrap;
//        word-wrap: normal;
//        text-overflow: ellipsis;
//        display: table-cell;
//        vertical-align: middle;
//        padding: 0 15px;
//        text-align: right;
//      }
//    }
//  }
//
//  &_controls{
//    position: absolute;
//    height: 36px;
//    left: 0;
//    bottom: 3px;
//    width: calc(100% - 12px);
//    padding: 0 12px;
//    margin: 0 6px;
//    //background: rgb(23, 35, 34, 0.6);
//    border-radius: 10px;
//    > div {
//      display: flex;
//      align-items: center;
//      grid-gap: 10px;
//    }
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//
//    //grid-template-rows: 20% 20% 20% 20% 20%;
//
//
//    &_play_pause{
//      justify-self: center;
//      cursor: pointer;
//      button{
//        border: none;
//        background: transparent;
//        color: #fff;
//      }
//    }
//    &_volume{
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      gap: 10px;
//      svg{
//        display: block;
//      }
//      &:hover &_picker{
//        //display: inline-block;
//        opacity: 1;
//        visibility: visible;
//        transition: width .2s cubic-bezier(.4,0,1,1);
//
//        input{
//          width: 60px;
//
//        }
//      }
//      &_picker{
//        display: flex;
//        opacity: 0;
//        margin: 0 1px;
//        visibility: hidden;
//        transition: opacity .2s  cubic-bezier(.4,0,1,1), visibility .2s cubic-bezier(.4,0,1,1) ;
//
//        align-items: center;
//        input{
//          width: 0;
//          transition: width .2s cubic-bezier(.4,0,1,1);
//        }
//      }
//    }
//    &_progress_bar{
//      position: absolute;
//      top: -20px;
//      left: 0;
//      width: 100%;
//      input{
//        width: 100%;
//      }
//    }
//    &_time{
//
//    }
//    &_fullscreen{
//      cursor: pointer;
//      &:hover{
//        color: $primary-color;
//      }
//    }
//    &_layout{
//      margin-right: 10px;
//      cursor: pointer;
//      &:hover{
//        color: $primary-color;
//      }
//    }
//    &_settings{
//      margin-right: 10px;
//      cursor: pointer;
//      &:hover{
//        color: $primary-color;
//      }
//    }
//  }
//}
//.player{
//  width: 50%;
//  transition: width .2s cubic-bezier(.4,0,1,1);
//}


.player{
  width: 50%;
  transition: width .2s cubic-bezier(.4,0,1,1);
  position: relative;
  &_video_wrapper{
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 1;
    z-index: 1;
  }
}