.playback_control{
  cursor: pointer;

  button{
    border: none;
    background: none;
    color: #fff;

    &:hover{
      color: #DBBC19;
      transition: color .2s cubic-bezier(.4,0,1,1) ;
    }
  }
}